.faq__container {
    background: white;
    border: 1px solid lightgray;
}
.faq__titlePage {
    margin: 30px 30px 10px 30px; 
}

.faq__introduction {
    margin: 5px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    text-align: justify;
}

.faq__article {
    margin: 5px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.faq__titleArticle {
    margin: 15px;
}

.faq__pArticle {
    margin: 1px;
    display: none;
    text-align: justify;
}


.faq__article:hover p {
    display: block;
  }