.contact__container{
    width: 100vw;
    height: 100vh;
}

.contact__title{
    margin: 1rem 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.contact__text{
    margin: 1rem 0.5rem;
    font-size: 0.8rem;
}


