body {
    background-image: url( https://images.squarespace-cdn.com/content/v1/50f457bfe4b06f99b6404e78/1476666470930-HOV38K1YZB193RVJLNN4/ke17ZwdGBToddI8pDm48kPTrHXgsMrSIMwe6YW3w1AZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0k5fwC0WRNFJBIXiBeNI5fKTrY37saURwPBw8fO2esROAxn-RKSrlQamlL27g22X2A/STUDIO+FILM.jpg?format=1500w);
    background-color: #f0f; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.app__main {
    background: none;
}


.landPage__Container {
    margin-left: 25px;
    

}

.landPage__Description {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 10px;
    width: 70%;
    text-align: justify;
    
}

.landPage__button {
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 30%;
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .landPage__Container {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .landPage__Description {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        width: 100%;
    }

    .landPage__button {
        display: block;
        margin-bottom: 20px;
        margin-left: 0;
        width: 100%;
        text-decoration: none;
        text-align: center;
    }

}