.legalNotice__container {
    background: white;
    border: 1px solid lightgray;
}
.legalNotice__titlePage {
    margin: 30px 30px 0px 15px;
}

.legalNotice__article {
    margin: 5px;
    padding: 10px;
    //border-bottom: 1px solid lightgrey;
}

.legalNotice__titleArticle {
    margin: 15px 15px 5px 0px;
}

.legalNotice__pArticle {
    //display: none;
    margin: 1px;
    text-align: justify;
}

// .legalNotice__article:hover p {
//     display: block;
//   }