@import 'style/vars.scss';

.header__nav {
  height: 3rem;
  text-align: center;
  position: relative;
}

.header__logo {
  width: 100vw;
  margin-top: .3rem;
  display: inline-block;
  height: calc(3rem - .3rem);
  font-size: 2rem;
  color: #fff;
}

.header__toggle-label {
  line-height: 0;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  display: inline-block;
  font-size: 3rem;
  color: #fff;
  transition: 300ms;
  &:hover {
    cursor: pointer;
  }
}

.header__toggle:checked + .header__toggle-label {
  transform: rotate(45deg);
  transition: 300ms;
}

.header__toggle {
  display: none;
  &:checked ~ .header__links, 
  &:checked ~ .header__links-2 {
    display: block;
    transform: translateX(0);
    transition: 300ms ease-in-out;
    opacity: 1;
  } 
}

.header__links, .header__links-2 {
  overflow: hidden;
  height: 9rem;
  position: fixed;
  opacity: 0;
  width: 100vw;
  background-color: #fff;
  transition: 300ms ease-in-out;
  transform: translateX(-100vw);
  li {
    line-height: 0;
    font-size: 1rem;
    list-style: none;
    padding: 1.5rem;
    color: #000;
    &:hover {
      cursor: pointer;
      background-color:#efefef;
    }
  }
}

.header__links-2 {
  top: 12rem;
}

@media screen and (min-width: 900px) {
  .header__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
  }
  .header__logo {
    margin-left: 2rem;
    display: inline-block;
    width: fit-content;
  }
  .header__links {
    margin-right: 6rem;
    opacity: 1;
    position: unset;
    transform: unset;
    width: unset;
    background-color: unset;
    ul {
      display: flex;
      li{
        color: #fff;
        transition: 100ms;
        &:hover {
        background-color: unset;
        border-bottom: 2px solid #fff;
        transform: translateY(-2px);
        transition: 100ms;
        }
      }
    }
  }
  .header__links-2 {
    transform: unset;
    opacity: 1;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 3rem;
    display: none;
    border: 1px solid #aaa;
  }

  .header__toggle-label {
    display: inline-block;
    position: unset;
    line-height: initial;
    position: absolute;
    top: -.4rem;
    right: 2rem;
    &:checked ~ .header__links-2 {
      display: block;
    }
  }
}




