// Put Vars here:
$blue: rgb(95, 120, 231);






// end vars
@mixin center {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin inputStyle {
  border: 2px solid rgba(0,0,0, .3);
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  &:hover {
    border: 2px solid  rgb(48, 109, 189);
    cursor: pointer;
  }
}

@mixin buttonStyle {
  width: fit-content;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  appearance: none;
  border: 2px solid transparent;
  background-color: transparent;
  box-shadow: 2px 3px 3px 0 rgba(0,0,0, .2);
  &:hover {
    opacity: .9;
    cursor: pointer;
  }
}

