.editProfile__container {  
  max-width: 900px;
  margin: auto;
  
}

.editProfile__pict{
    position: relative;
    
  }
  
  .editProfile__button, .editProfile__buttonRetour{
    position:absolute;
    padding:0.3rem 0.6rem;
    right:1rem;
    bottom:-1.8rem;
    font-size: 0.8rem;
  }

  .editProfile__buttonRetour{
    bottom: -4rem;
  }
  
  .editProfile__pict__cover { 
    text-align: center;
    margin:auto;
    padding: 3rem 0rem;
    height: 25vh;
    background-color: #eee;
    width: 100%;
    background-size: cover;
    background-position: center;

    border-bottom:2px solid #fff;
  }
  .editProfile__pict__cover_input{
    max-width: 35%;
  }
  .editProfile__pict__editProfile {  
    left:35%;
    text-align: center;
    padding:0.5rem;
    bottom:-3.5rem;
    right:-1rem;
    position: absolute;
    height:120px;
    max-width:120px;    
    background-color: #ddd;
    border:2px solid #fff;
    font-size:0.7rem;
    border-radius:50%;
  }
  
  .editProfile__name{
    font-size: 1.2rem;
    margin-left: 0.8rem;
    margin-top:1rem;
    font-weight: 700;
    text-align: center;
  }
  
  .editProfile__age, .editProfile__place{
    font-size: 1rem;
    margin-left: 0.8rem;
    margin-right: 3rem;
    font-weight: 500;
  }

  .editProfile__age{
    width:25%;
  }
  
  .editProfile__info{
    margin-bottom: 0.3rem;
  }
  
  .editProfile__title{
    font-size: 1.4rem;
    margin-left: 0.8rem;
    font-weight: 700;
    text-align:center;
  }
  
  .editProfile__link{
    display: inline-block;
    font-size: 0.7rem; 
  }
  
  .editProfile__description, .editProfile__exp{
    margin:1rem 0.8rem;
    border-bottom: 1px solid rgb(219, 219, 219);
    font-weight:600;
    
  }
  
  .editProfile__text{
    margin:0.5rem 0.8rem;
    font-weight:300;
    text-align:justify;
  }
  
  .editProfile__portfolio{
    margin:0.5rem 0.8rem;
    font-weight:600;
    border-bottom: 1px solid rgb(219, 219, 219);
  }
  
  .editProfile__link{
    display: inline-block;
    font-size: 1rem;   
    margin:0rem 0.8rem 0.8rem 0.8rem;
  } 

  
  .editor{    
    margin:0rem 0.8rem;
}


  @media (min-width: 900px) and (min-height: 500px) {
  
    .editProfile__pict__cover{
      height: 37.5vh;
      background-position-y:center ;
      padding: 7rem;      
    }
    .editProfile__pict__editProfile{
      left:5%;
      bottom:-4.5rem;    
      position: absolute;
      height:150px;
      max-width:150px;    
    }
  
    .editProfile__age, .editProfile__place{
      margin-top:5rem;
      margin-left: 1.5rem;
    }

    .editProfile__job{
        margin-left: 1.5rem;
    }
  
    .desktop{
      display:inherit;
      text-align: center;
    }

    .editProfile__mainInfos {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5rem;
      justify-content: center;
      div {
        margin-right: 5rem;
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
        input {
          margin: 0;
        }
      }
    }
    .editProfile__textArea {
      div {
        margin-top: 1rem;
      }
    }
  
  
  }