@import 'style/vars.scss';

.search__container {
  padding: .5rem;
}

.search__header{
  padding: .5rem;
  text-align: center;
}

.search {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.search__input {
  padding-left: .5rem;
}

.search__form {
  input {
    margin: 0;
  }
}

.search__button {
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.search__input, .search__button {
  height: 2rem;
  background-color: #fff;
  border: none;
  font-size: 1.2rem;
  margin:0.5rem; 
}



@media (min-width: 900px) and (min-height: 500px) {}


.search__header {
  button {
    margin: 1rem;
  }
}

.search__container {
  .announcementList__container {
  margin-top: 1rem;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  .announce {
    width: 100%;
    height: 100%;
  }
  }
}
