@import 'style/vars.scss';




@mixin customInput {
  border: 2px solid rgba(150, 150, 150, 0.144);
  background-color: #efefef;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 0.4rem;
  opacity: .8;
  &:hover {
    cursor: pointer;
  }
}

.profilelist__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.searchprofile__container {
  box-shadow: $shadow;
  background-color: white;
  margin: 1rem;
  padding: 0.5rem;
  height: 16rem;
  width: 12rem;
  p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  .searchprofile__img {
    height: 150px;
    width: 150px;
    margin: auto;
    
    background-color: #ddd;
    background-position:center;
    border-radius: 50%;
  }
  .searchprofile__infos {
    padding: 1rem;
    text-align: center;
    .searchprofile__place {
      padding: 0.5rem;
      font-style: italic;
      font-size: small;
      color: gray;
    }
  }
}

.search__input, .search__button {
  height: 2rem;
  background-color: #fff;
  border: none;
  font-size: 1.2rem;
}

.search__input {
  padding-left: .5rem;
}

.search__button {
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
.search__form {
  border: 2px solid #ddd;
  background-color: #fff;
  margin: 1rem;
  border-radius: .5rem;
  overflow: hidden;
  &:hover {
    border-color: $blue;
  }
}



.search__header {
  position: sticky;
  top: 3rem;
  z-index: 999;
  background-color: #F3F4F8;
  border-bottom: 2px solid rgba(0,0,0, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
    button {
    padding: .5rem;
    border-radius: 100vmax;
    margin: .3rem;
    background-color: white;
    color: black;
    &:hover {
      color: #fff;
      background-color: $blue;
      cursor: pointer;
    }
    &:focus {
      color: #fff;
      background-color: $blue;
      cursor: pointer;
    }
  }
}

.announcementList {
  padding: 1rem;
}

@media (min-width: 900px) and (min-height: 500px) {

  .announcementList {
    max-width: unset;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
  }
}