@import 'style/vars.scss';
.discussion__flex{
    display:flex;
}

.tchatRoom__Container {
    margin: 0.5rem;
    padding: 30px;
}

.tchatRoom__TitlePage {
    text-align: center;   
    border-bottom: 1px solid lightgray;
}

.discussion__container{
   text-align: center; 
   width:75%;
   margin: auto;
  
   
}



.discussion__spaceText{
    margin: 0.2rem 0.7rem;
}

.discussion__half{
    width:100%;
}

.discussion__title{
    margin: 0.5rem;
    border-bottom: 1px solid lightgray;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.message__container{
    margin: auto;
    padding: 0rem 0.5rem 0rem 0.5rem;
    border-left: 1px solid lightgray;
    width: 95%;
    height: 20rem;
    overflow-y: scroll;    
}

.other {
    background-color:rgba(211, 211, 211, 0.500);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    text-align:left;
}

.you {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align:left;
}

.message__textarea{
    width:70%;
    height:2.3rem;
    text-align: left;
    margin: 0.2rem ;
}

.button {
    padding: 0.5rem;
    margin-bottom: 1rem;    
}

@media only screen and (max-width: 800px) {

    .tchatRoom__Container {
        margin-top: 0;
        padding: 15px;
        border: none
    }
    .tchatRoom__TitlePage {
        display: none;
    }

    .message__container {
       width:97%;
    }
}