@import 'style/vars.scss';


.tchatRoom__Container {
    margin: 0.5rem;
    padding: 30px;
}

.tchatRoom__TitlePage {
    text-align: center;   
    border-bottom: 1px solid lightgray;
}

.discussion__container{
   text-align: center; 
   display: flex;
   width:15rem;
   flex-wrap: wrap;
   justify-content:center;
}

.discussion__button{
text-align: center;
  font-size: 1em;
  padding: 0;
  border-radius: 0.4em;
  appearance: none;
  border: 2px solid transparent;
  background-color: $blue;
  color: #fff;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0, .2);
  transition: 200ms;
  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 2px 3px 5px 0 rgba(0,0,0, .4);
    transition: 200ms;
  }
}

.discussion__spaceText{
    margin: 0.2rem 0.7rem;
}

.message__container{
    margin: auto;
    width: 75%;
    padding: 0rem 0.5rem 0rem 0.5rem;
    border-left: 1px solid lightgray;    
}

.other {
    background-color:rgba(211, 211, 211, 0.500);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.you {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

@media only screen and (max-width: 800px) {

    .tchatRoom__Container {
        margin-top: 0;
        padding: 15px;
        border: none
    }
    .tchatRoom__TitlePage {
        display: none;
    }

    .message__container {
       width:97%;
    }
}